Repository atlascodedev/coffee-and-feel, pull requests merged in 2021-09, with the labels that each got.

#6 Feature/coffee front 53
  apps/frontend/public/icons/rafiki0.svg
  apps/frontend/public/icons/rafiki1.svg
  apps/frontend/public/icons/rafiki2.svg
  apps/frontend/public/imgs/bg_default.png
  apps/frontend/public/imgs/plant0.svg
  apps/frontend/public/imgs/plant1.svg
  apps/frontend/src/pages/_document.tsx
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/Banner/Banner.stories.tsx
  libs/frontend-components/src/lib/Banner/Banner.tsx
  libs/frontend-components/src/lib/Banner/contracts/Banner.interface.ts
  libs/frontend-components/src/lib/Banner/style.ts
  libs/frontend-components/src/lib/Header/style.ts
  libs/frontend-components/src/lib/LayoutEcommerce/LayoutEcommerce.tsx
  libs/frontend-components/src/lib/LayoutEcommerce/LayoutStore.spec.tsx
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-pages/src/lib/HomePage/contracts/HomePage.interface.ts
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubAboutSection.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
Labels: feature, frontend

#11 Merge branch 'develop' of https://github.com/atlascodedev/coffee-and-feel into develop
  .gcloudignore
  apps/admin/src/app/App.spec.tsx
  apps/admin/src/app/assets/css/index.css
  apps/admin/src/app/config/branding.config.ts
  apps/admin/src/app/main.tsx
  apps/admin/src/app/pages/Login/Login.tsx
  apps/admin/src/app/pages/NotFound/NotFound.tsx
  apps/admin/src/app/utility/MotionBox/MotionBox.tsx
  apps/admin/src/assets/.gitkeep
  apps/admin/src/assets/css/index.css
  apps/admin/src/assets/fonts/Iceland-Regular.ttf
  apps/admin/src/assets/images/logo-bg.jpg
  apps/admin/src/assets/images/logo.svg
  apps/admin/src/assets/images/pexels-suzy-hazelwood-1629236.jpg:Zone.Identifier
  apps/admin/src/assets/lotties/NotFoundLottie/data.json
  apps/admin/src/main.tsx
  apps/admin/tsconfig.json
  ci/.cloudbuild/development/admin/cloudbuild.yaml
  ci/.cloudbuild/development/backend/Dockerfile
  ci/.cloudbuild/development/backend/cloudbuild.yaml
  ci/.cloudbuild/development/frontend/Dockerfile
  ci/.cloudbuild/development/frontend/cloudbuild.yaml
  ci/.firebase/development/admin/.firebaserc
  ci/.firebase/development/admin/config.ts
  ci/.firebase/development/admin/firebase.json
  ci/.firebase/development/frontend/.firebaserc
  ci/.firebase/development/frontend/config.ts
  ci/.firebase/development/frontend/firebase.json
  ci/containers/firebase/Dockerfile
  ci/containers/firebase/cloudbuild.yaml
  ci/containers/firebase/firebase.bash
  ci/containers/pnpm/Dockerfile
  ci/containers/pnpm/cloudbuild.yaml
  cloudbuild.yaml
  package.json
  pnpm-lock.yaml
  public/index.html
Labels: feature

#10 Feature/coffee front 61
  apps/frontend/public/imgs/circlecoffee.png
  libs/frontend-components/src/lib/ThemeProvider/theme.ts
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-pages/src/lib/HomePage/sections/KnowMoreSection.tsx
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubAboutSection.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
Labels: feature, frontend

#12 Feature/coffee config 62
  .gcloudignore
  apps/admin/src/app/App.spec.tsx
  apps/admin/src/app/assets/css/index.css
  apps/admin/src/app/config/branding.config.ts
  apps/admin/src/app/main.tsx
  apps/admin/src/app/pages/Login/Login.tsx
  apps/admin/src/app/pages/NotFound/NotFound.tsx
  apps/admin/src/app/utility/MotionBox/MotionBox.tsx
  apps/admin/src/assets/.gitkeep
  apps/admin/src/assets/css/index.css
  apps/admin/src/assets/fonts/Iceland-Regular.ttf
  apps/admin/src/assets/images/logo-bg.jpg
  apps/admin/src/assets/images/logo.svg
  apps/admin/src/assets/images/pexels-suzy-hazelwood-1629236.jpg:Zone.Identifier
  apps/admin/src/assets/lotties/NotFoundLottie/data.json
  apps/admin/src/main.tsx
  apps/admin/tsconfig.json
  ci/.cloudbuild/development/admin/cloudbuild.yaml
  ci/.cloudbuild/development/backend/Dockerfile
  ci/.cloudbuild/development/backend/cloudbuild.yaml
  ci/.cloudbuild/development/frontend/Dockerfile
  ci/.cloudbuild/development/frontend/cloudbuild.yaml
  ci/.cloudbuild/production/admin/cloudbuild.yaml
  ci/.cloudbuild/production/backend/Dockerfile
  ci/.cloudbuild/production/backend/cloudbuild.yaml
  ci/.cloudbuild/production/frontend/Dockerfile
  ci/.cloudbuild/production/frontend/cloudbuild.yaml
  ci/.firebase/config.ts
  ci/.firebase/development/admin/.firebaserc
  ci/.firebase/development/admin/firebase.json
  ci/.firebase/development/frontend/.firebaserc
  ci/.firebase/development/frontend/firebase.json
  ci/.firebase/production/admin/.firebaserc
  ci/.firebase/production/admin/firebase.json
  ci/.firebase/production/frontend/.firebaserc
  ci/.firebase/production/frontend/firebase.json
  ci/containers/firebase/Dockerfile
  ci/containers/firebase/cloudbuild.yaml
  ci/containers/firebase/firebase.bash
  ci/containers/pnpm/Dockerfile
  ci/containers/pnpm/cloudbuild.yaml
  cloudbuild.yaml
  libs/frontend-components/src/lib/LayoutEcommerce/LayoutEcommerce.tsx
  package.json
  pnpm-lock.yaml
  public/index.html
Labels: enhancement, feature

#13 Feature/coffee config 65
  .env.enc
  .gitignore
  ci/config.ts
  ci/containers/core/Dockerfile
  ci/containers/firebase/Dockerfile
  ci/containers/firebase/cloudbuild.yaml
  ci/containers/firebase/firebase.bash
  ci/development/admin/.firebaserc
  ci/development/admin/cloudbuild.yaml
  ci/development/admin/firebase.json
  ci/development/backend/Dockerfile
  ci/development/backend/cloudbuild.yaml
  ci/development/frontend/.firebaserc
  ci/development/frontend/Dockerfile
  ci/development/frontend/cloudbuild.yaml
  ci/development/frontend/firebase.json
  ci/production/admin/.firebaserc
  ci/production/admin/cloudbuild.yaml
  ci/production/admin/firebase.json
  ci/production/backend/Dockerfile
  ci/production/backend/cloudbuild.yaml
  ci/production/frontend/.firebaserc
  ci/production/frontend/Dockerfile
  ci/production/frontend/cloudbuild.yaml
  ci/production/frontend/firebase.json
  ci/projects-mapping.md
  cloudbuild.yaml
  public/index.html
  scripts/decrypt_env.bash
  scripts/encrypt_env.bash
  scripts/parse_env_var.bash
Labels: enhancement, feature

#14 Deploy Staging
  .env.enc
  .gcloudignore
  .gitignore
  apps/admin/src/app/App.spec.tsx
  apps/admin/src/app/assets/css/index.css
  apps/admin/src/app/config/branding.config.ts
  apps/admin/src/app/main.tsx
  apps/admin/src/app/pages/Login/Login.tsx
  apps/admin/src/app/pages/NotFound/NotFound.tsx
  apps/admin/src/app/utility/MotionBox/MotionBox.tsx
  apps/admin/src/assets/.gitkeep
  apps/admin/src/assets/css/index.css
  apps/admin/src/assets/fonts/Iceland-Regular.ttf
  apps/admin/src/assets/images/logo-bg.jpg
  apps/admin/src/assets/images/logo.svg
  apps/admin/src/assets/images/pexels-suzy-hazelwood-1629236.jpg:Zone.Identifier
  apps/admin/src/assets/lotties/NotFoundLottie/data.json
  apps/admin/src/main.tsx
  apps/admin/tsconfig.json
  apps/frontend/public/imgs/circlecoffee.png
  ci/config.ts
  ci/containers/core/Dockerfile
  ci/containers/pnpm/Dockerfile
  ci/containers/pnpm/cloudbuild.yaml
  ci/development/admin/.firebaserc
  ci/development/admin/cloudbuild.yaml
  ci/development/admin/firebase.json
  ci/development/backend/Dockerfile
  ci/development/backend/cloudbuild.yaml
  ci/development/frontend/.firebaserc
  ci/development/frontend/Dockerfile
  ci/development/frontend/cloudbuild.yaml
  ci/development/frontend/firebase.json
  ci/production/admin/.firebaserc
  ci/production/admin/cloudbuild.yaml
  ci/production/admin/firebase.json
  ci/production/backend/Dockerfile
  ci/production/backend/cloudbuild.yaml
  ci/production/frontend/.firebaserc
  ci/production/frontend/Dockerfile
  ci/production/frontend/cloudbuild.yaml
  ci/production/frontend/firebase.json
  ci/projects-mapping.md
  libs/frontend-components/src/lib/LayoutEcommerce/LayoutEcommerce.tsx
  libs/frontend-components/src/lib/ThemeProvider/theme.ts
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-pages/src/lib/HomePage/sections/KnowMoreSection.tsx
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubAboutSection.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
  package.json
  pnpm-lock.yaml
  scripts/decrypt_env.bash
  scripts/encrypt_env.bash
  scripts/parse_env_var.bash
Labels: release

#16 Feature/coffee front 55
  apps/frontend/public/css/global.css
  apps/frontend/public/icons/add-cart.svg
  apps/frontend/public/imgs/about-subscription-club-mobile.png
  apps/frontend/public/imgs/about-subscription-club.png
  apps/frontend/public/imgs/product-sample.png
  apps/frontend/src/pages/_document.tsx
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/Header/Header.tsx
  libs/frontend-components/src/lib/ProductCatalogRepresentation/ProductCatalogRepresentation.spec.tsx
  libs/frontend-components/src/lib/ProductCatalogRepresentation/ProductCatalogRepresentation.stories.tsx
  libs/frontend-components/src/lib/ProductCatalogRepresentation/ProductCatalogRepresentation.tsx
  libs/frontend-components/src/lib/ProductCatalogRepresentation/style.ts
  libs/frontend-components/src/lib/SlideProductRepresentation/SlideProductRepresentation.spec.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/SlideProductRepresentation.stories.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/SlideProductRepresentation.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/style.ts
  libs/frontend-components/src/lib/ThemeProvider/theme.ts
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-pages/src/lib/HomePage/sections/KnowMoreSection.tsx
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubAboutSection.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
  package.json
  pnpm-lock.yaml
Labels: feature, frontend

#17 [fix] Add prevEl and nexEl dconfiguration to swiper component
  libs/frontend-components/src/lib/SlideProductRepresentation/SlideProductRepresentation.tsx
  libs/frontend-pages/src/lib/HomePage/sections/KnowMoreSection.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
Labels: feature, frontend

#18 Feature/coffee backend 71
  .env.dev
  .env.enc
  .gitignore
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/app.service.ts
  apps/backend/src/config/config.ts
  apps/backend/src/main.ts
  ci/containers/postgres_dev/docker-compose.yaml
  libs/.gitkeep
  libs/backend-module-products/.babelrc
  libs/backend-module-products/.eslintrc.json
  libs/backend-module-products/README.md
  libs/backend-module-products/jest.config.js
  libs/backend-module-products/src/index.ts
  libs/backend-module-products/src/lib/dto/create-product.dto.ts
  libs/backend-module-products/src/lib/dto/update-product.dto.ts
  libs/backend-module-products/src/lib/entities/product.entity.ts
  libs/backend-module-products/src/lib/products.controller.ts
  libs/backend-module-products/src/lib/products.module.ts
  libs/backend-module-products/src/lib/products.service.ts
  libs/backend-module-products/tsconfig.json
  libs/backend-module-products/tsconfig.lib.json
  libs/backend-module-products/tsconfig.spec.json
  libs/backend-utility/.babelrc
  libs/backend-utility/.eslintrc.json
  libs/backend-utility/README.md
  libs/backend-utility/jest.config.js
  libs/backend-utility/src/index.ts
  libs/backend-utility/src/lib/AwaitSpawn/index.ts
  libs/backend-utility/src/lib/EntityAutoTimestamp/index.ts
  libs/backend-utility/tsconfig.json
  libs/backend-utility/tsconfig.lib.json
  libs/backend-utility/tsconfig.spec.json
  nx.json
  ormconfig.env
  package.json
  pnpm-lock.yaml
  scripts/encrypt_env.bash
  scripts/postgres_dev.bash
  tsconfig.base.json
  workspace.json
Labels: enhancement, feature, backend

#19 Feature/coffee front 56
  apps/frontend/public/css/global.css
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubAboutSection.tsx
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubDetailsSection.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
Labels: feature, frontend

#22 Feature/coffee front 73
  apps/admin/src/app/pages/Login/PasswordInput.tsx
  apps/backend/src/main.ts
  apps/frontend/src/pages/login.tsx
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/PasswordInput/PasswordInput.spec.tsx
  libs/frontend-components/src/lib/PasswordInput/PasswordInput.stories.tsx
  libs/frontend-components/src/lib/PasswordInput/PasswordInput.tsx
  libs/frontend-components/src/lib/SocialLoginButton/SocialLoginButton.spec.tsx
  libs/frontend-components/src/lib/SocialLoginButton/SocialLoginButton.stories.tsx
  libs/frontend-components/src/lib/SocialLoginButton/SocialLoginButton.tsx
  libs/frontend-components/src/lib/ThemeProvider/theme.ts
  libs/frontend-pages/.storybook/main.js
  libs/frontend-pages/.storybook/preview.tsx
  libs/frontend-pages/.storybook/tsconfig.json
  libs/frontend-pages/src/index.ts
  libs/frontend-pages/src/lib/HomePage/HomePage.stories.tsx
  libs/frontend-pages/src/lib/HomePage/sections/KnowMoreSection.stories.tsx
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubAboutSection.stories.tsx
  libs/frontend-pages/src/lib/LoginPage/LoginPage.spec.tsx
  libs/frontend-pages/src/lib/LoginPage/LoginPage.stories.tsx
  libs/frontend-pages/src/lib/LoginPage/LoginPage.tsx
  libs/frontend-pages/tsconfig.json
  libs/frontend-pages/tsconfig.lib.json
  package.json
  pnpm-lock.yaml
  workspace.json
Labels: feature, frontend

#23 Bugfix/swiper merge fix
  package.json
  pnpm-lock.yaml
Labels: bug

#25 Feature/coffee front 36
  apps/admin/src/app/pages/Login/UsernameInput.tsx
  apps/frontend/src/pages/login.tsx
  apps/frontend/src/pages/register.tsx
  libs/frontend-components/src/lib/LayoutEcommerce/LayoutEcommerce.tsx
  libs/frontend-components/src/lib/ThemeProvider/theme.ts
  libs/frontend-pages/src/index.ts
  libs/frontend-pages/src/lib/LoginPage/LoginPage.tsx
  libs/frontend-pages/src/lib/RegistrationPage/Dot.tsx
  libs/frontend-pages/src/lib/RegistrationPage/FirstForm.tsx
  libs/frontend-pages/src/lib/RegistrationPage/FormContainer.tsx
  libs/frontend-pages/src/lib/RegistrationPage/LeftSideGrid.tsx
  libs/frontend-pages/src/lib/RegistrationPage/RegistrationPage.spec.tsx
  libs/frontend-pages/src/lib/RegistrationPage/RegistrationPage.stories.tsx
  libs/frontend-pages/src/lib/RegistrationPage/RegistrationPage.tsx
  libs/frontend-pages/src/lib/RegistrationPage/RightSideGrid.tsx
  libs/frontend-pages/src/lib/RegistrationPage/SecondForm.tsx
  libs/frontend-pages/src/lib/RegistrationPage/ThirdForm.tsx
  libs/frontend-utility/.babelrc
  libs/frontend-utility/.eslintrc.json
  libs/frontend-utility/README.md
  libs/frontend-utility/jest.config.js
  libs/frontend-utility/package.json
  libs/frontend-utility/src/index.ts
  libs/frontend-utility/src/lib/MotionBox/MotionBox.tsx
  libs/frontend-utility/tsconfig.json
  libs/frontend-utility/tsconfig.lib.json
  libs/frontend-utility/tsconfig.spec.json
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Labels: enhancement, feature, frontend

#26 Feature/coffee front 59
  apps/frontend/public/imgs/cupofcoffee.png
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-pages/src/lib/HomePage/sections/NewsletterSection.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
Labels: feature, frontend

#27 Deploy Staging
  apps/admin/src/app/pages/Login/UsernameInput.tsx
  apps/frontend/public/imgs/cupofcoffee.png
  apps/frontend/src/pages/login.tsx
  apps/frontend/src/pages/register.tsx
  libs/frontend-components/src/lib/LayoutEcommerce/LayoutEcommerce.tsx
  libs/frontend-components/src/lib/ThemeProvider/theme.ts
  libs/frontend-pages/src/index.ts
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-pages/src/lib/HomePage/sections/NewsletterSection.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
  libs/frontend-pages/src/lib/LoginPage/LoginPage.tsx
  libs/frontend-pages/src/lib/RegistrationPage/Dot.tsx
  libs/frontend-pages/src/lib/RegistrationPage/FirstForm.tsx
  libs/frontend-pages/src/lib/RegistrationPage/FormContainer.tsx
  libs/frontend-pages/src/lib/RegistrationPage/LeftSideGrid.tsx
  libs/frontend-pages/src/lib/RegistrationPage/RegistrationPage.spec.tsx
  libs/frontend-pages/src/lib/RegistrationPage/RegistrationPage.stories.tsx
  libs/frontend-pages/src/lib/RegistrationPage/RegistrationPage.tsx
  libs/frontend-pages/src/lib/RegistrationPage/RightSideGrid.tsx
  libs/frontend-pages/src/lib/RegistrationPage/SecondForm.tsx
  libs/frontend-pages/src/lib/RegistrationPage/ThirdForm.tsx
  libs/frontend-utility/.babelrc
  libs/frontend-utility/.eslintrc.json
  libs/frontend-utility/README.md
  libs/frontend-utility/jest.config.js
  libs/frontend-utility/package.json
  libs/frontend-utility/src/index.ts
  libs/frontend-utility/src/lib/MotionBox/MotionBox.tsx
  libs/frontend-utility/tsconfig.json
  libs/frontend-utility/tsconfig.lib.json
  libs/frontend-utility/tsconfig.spec.json
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Labels: release

#28 [Fix] semantic error TS2322
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubDetailsSection.tsx
Labels: bug, frontend

#29 Deploy Staging
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubDetailsSection.tsx
Labels: release

#30 [bugfix] dockerfile was failing silently while trying to perform an i…
  ci/development/frontend/Dockerfile
Labels: bug

#31 Feature/coffee front 58
  apps/frontend/public/imgs/coffees.png
  libs/frontend-components/src/lib/SlideProductRepresentation/style.ts
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-pages/src/lib/HomePage/sections/LastPostsSection.tsx
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubDetailsSection.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
Labels: feature, frontend

#32 Feature/coffee front 77
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/CreditCardView/CreditCardChipSVG.tsx
  libs/frontend-components/src/lib/CreditCardView/CreditCardTextField.tsx
  libs/frontend-components/src/lib/CreditCardView/CreditCardView.spec.tsx
  libs/frontend-components/src/lib/CreditCardView/CreditCardView.stories.tsx
  libs/frontend-components/src/lib/CreditCardView/CreditCardView.tsx
Labels: feature, frontend

#33 Deploy Staging
  apps/frontend/public/imgs/coffees.png
  ci/development/frontend/Dockerfile
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/CreditCardView/CreditCardChipSVG.tsx
  libs/frontend-components/src/lib/CreditCardView/CreditCardTextField.tsx
  libs/frontend-components/src/lib/CreditCardView/CreditCardView.spec.tsx
  libs/frontend-components/src/lib/CreditCardView/CreditCardView.stories.tsx
  libs/frontend-components/src/lib/CreditCardView/CreditCardView.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/style.ts
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-pages/src/lib/HomePage/sections/LastPostsSection.tsx
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubDetailsSection.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
Labels: release

#35 Feature/coffee backend 79
  .env.dev
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/app.service.ts
  libs/backend-module-authentication/.babelrc
  libs/backend-module-authentication/.eslintrc.json
  libs/backend-module-authentication/README.md
  libs/backend-module-authentication/jest.config.js
  libs/backend-module-authentication/src/index.ts
  libs/backend-module-authentication/src/lib/authentication.module.ts
  libs/backend-module-authentication/src/lib/constants/index.ts
  libs/backend-module-authentication/src/lib/controllers/authentication-user.controller.ts
  libs/backend-module-authentication/src/lib/decorators/public-route.decorator.ts
  libs/backend-module-authentication/src/lib/dto/authenticate-user.dto.ts
  libs/backend-module-authentication/src/lib/guards/jwt-auth.guard.ts
  libs/backend-module-authentication/src/lib/guards/local-auth.guard.ts
  libs/backend-module-authentication/src/lib/services/authentication-user.service.ts
  libs/backend-module-authentication/src/lib/strategies/jwt.strategy.ts
  libs/backend-module-authentication/src/lib/strategies/local.strategy.ts
  libs/backend-module-authentication/tsconfig.json
  libs/backend-module-authentication/tsconfig.lib.json
  libs/backend-module-authentication/tsconfig.spec.json
  libs/backend-module-common/.babelrc
  libs/backend-module-common/.eslintrc.json
  libs/backend-module-common/README.md
  libs/backend-module-common/jest.config.js
  libs/backend-module-common/src/index.ts
  libs/backend-module-common/src/lib/common.module.ts
  libs/backend-module-common/src/lib/services/password.utility.ts
  libs/backend-module-common/tsconfig.json
  libs/backend-module-common/tsconfig.lib.json
  libs/backend-module-common/tsconfig.spec.json
  libs/backend-module-users/src/index.ts
  libs/backend-module-users/src/lib/controllers/users.controller.ts
  libs/backend-module-users/src/lib/dto/create-user.dto.ts
  libs/backend-module-users/src/lib/entities/user.entity.ts
  libs/backend-module-users/src/lib/repositories/user.repository.ts
  libs/backend-module-users/src/lib/services/users.service.ts
  libs/backend-module-users/src/lib/users.module.ts
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Labels: enhancement, feature, backend

#36 Feature/coffee front 3
  .prettierrc
  apps/frontend/public/icons/bag.svg
  apps/frontend/public/imgs/about-subscription-club.png
  apps/frontend/public/imgs/bg_default.svg
  apps/frontend/public/imgs/coffee-insta.png
  apps/frontend/public/imgs/insta-mock.png
  libs/frontend-components/src/lib/Banner/Banner.tsx
  libs/frontend-components/src/lib/Banner/contracts/types.ts
  libs/frontend-components/src/lib/Banner/style.ts
  libs/frontend-components/src/lib/Header/Header.tsx
  libs/frontend-components/src/lib/Header/style.ts
  libs/frontend-components/src/lib/SlideProductRepresentation/SlideProductRepresentation.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/style.ts
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-pages/src/lib/HomePage/sections/CallInstagramSection.tsx
  libs/frontend-pages/src/lib/HomePage/sections/KnowMoreSection.stories.tsx
  libs/frontend-pages/src/lib/HomePage/sections/LastPostsSection.tsx
  libs/frontend-pages/src/lib/HomePage/sections/NewsletterSection.tsx
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubAboutSection.stories.tsx
  libs/frontend-pages/src/lib/HomePage/sections/SubscriptionClubDetailsSection.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
  libs/frontend-sections/.babelrc
  libs/frontend-sections/.eslintrc.json
  libs/frontend-sections/README.md
  libs/frontend-sections/jest.config.js
  libs/frontend-sections/src/index.ts
  libs/frontend-sections/src/lib/CallInstagramSection/CallInstagramSection.tsx
  libs/frontend-sections/src/lib/CallInstagramSection/style.ts
  libs/frontend-sections/src/lib/KnowMoreSection/KnowMoreSection.tsx
  libs/frontend-sections/src/lib/KnowMoreSection/style.ts
  libs/frontend-sections/src/lib/LastPostsSection/LastPostsSection.tsx
  libs/frontend-sections/src/lib/LastPostsSection/style.ts
  libs/frontend-sections/src/lib/NewsletterSection/NewsletterSection.tsx
  libs/frontend-sections/src/lib/NewsletterSection/style.ts
  libs/frontend-sections/src/lib/SubscriptionClubAboutSection/SubscriptionClubAboutSection.tsx
  libs/frontend-sections/src/lib/SubscriptionClubAboutSection/style.ts
  libs/frontend-sections/src/lib/SubscriptionClubDetailsSection/SubscriptionClubDetailsSection.tsx
  libs/frontend-sections/src/lib/SubscriptionClubDetailsSection/style.ts
  libs/frontend-sections/tsconfig.json
  libs/frontend-sections/tsconfig.lib.json
  libs/frontend-sections/tsconfig.spec.json
  libs/frontend-utility/src/index.ts
  libs/frontend-utility/src/lib/hooks/useDebounce.ts
  nx.json
  tsconfig.base.json
  workspace.json
Labels: feature, frontend

#41 feature/COFFEE-FRONT-89
  apps/frontend/src/pages/catalog.tsx
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/CatalogFilter/CatalogFilter.tsx
  libs/frontend-components/src/lib/CatalogFilter/style.ts
  libs/frontend-components/src/lib/CatalogRepresentation/CatalogRepresentation.tsx
  libs/frontend-components/src/lib/CatalogRepresentation/style.ts
  libs/frontend-components/src/lib/Header/style.ts
  libs/frontend-components/src/lib/LayoutEcommerce/LayoutEcommerce.tsx
  libs/frontend-components/src/lib/ProductCatalogItem/ProductCatalogItem.tsx
  libs/frontend-components/src/lib/ProductCatalogItem/style.ts
  libs/frontend-components/src/lib/ProductCatalogRepresentation/ProductCatalogRepresentation.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/MobileSlideProductRepresentation.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/SlideProductRepresentation.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/index.ts
  libs/frontend-components/src/lib/SlideProductRepresentation/style.ts
  libs/frontend-components/src/lib/ThemeProvider/theme.ts
  libs/frontend-pages/src/index.ts
  libs/frontend-pages/src/lib/CatalogPage/CatalogPage.tsx
  libs/frontend-pages/src/lib/CatalogPage/style.ts
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-pages/src/lib/HomePage/style.ts
Labels: feature, frontend

#43 Feature/coffee front 85
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/CatalogFilter/CatalogFilter.tsx
  libs/frontend-components/src/lib/CatalogFilter/style.ts
  libs/frontend-components/src/lib/CatalogRepresentation/CatalogRepresentation.tsx
  libs/frontend-components/src/lib/CatalogRepresentation/style.ts
  libs/frontend-components/src/lib/ProductCatalogItem/ProductCatalogItem.tsx
  libs/frontend-components/src/lib/ProductCatalogItem/style.ts
  libs/frontend-components/src/lib/ProductCatalogRepresentation/ProductCatalogRepresentation.tsx
  libs/frontend-components/src/lib/ProductCatalogRepresentation/style.ts
  libs/frontend-components/src/lib/SlideProductRepresentation/MobileSlideProductRepresentation.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/SlideProductRepresentation.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/style.ts
  libs/frontend-components/src/lib/TabGroup/TabGroup.tsx
  libs/frontend-components/src/lib/ThemeProvider/theme.ts
  libs/frontend-pages/src/lib/CatalogPage/CatalogPage.tsx
  libs/frontend-pages/src/lib/CatalogPage/style.ts
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
Labels: feature, frontend

#44 [feature] COFFEE-FRONT-5
  apps/frontend/public/icons/boleto.svg
  apps/frontend/public/icons/elo.svg
  apps/frontend/public/icons/facebook.svg
  apps/frontend/public/icons/instagram.svg
  apps/frontend/public/icons/mastercard.svg
  apps/frontend/public/icons/visa.svg
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/Footer/Footer.tsx
  libs/frontend-components/src/lib/Footer/style.ts
  libs/frontend-components/src/lib/Header/Header.tsx
  libs/frontend-components/src/lib/LayoutEcommerce/LayoutEcommerce.tsx
Labels: feature, frontend

#47 Feature/coffee config 75
  .dockerignore
  .firebase/hosting.ZGlzdC9hcHBzL2Zyb250ZW5kL2V4cG9ydGVk.cache
  ci/development/frontend/Dockerfile
  ci/development/frontend/cloudbuild.yaml
  ci/development/frontend/firebase.json
  libs/frontend-components/src/lib/Footer/Footer.tsx
  libs/frontend-components/src/lib/Header/Header.tsx
  package.json
  pnpm-lock.yaml
  workspace.json
Labels: feature, frontend

#48 [enhancement][config] improved blog mocking; added nextjs links to bl…
  .firebase/hosting.ZGlzdC9hcHBzL2Zyb250ZW5kL2V4cG9ydGVk.cache
  .firebaserc
  apps/frontend/mocks/data/blog.ts
  apps/frontend/mocks/data/mockHTMLPost.ts
  apps/frontend/src/pages/_app.tsx
  apps/frontend/src/pages/blog/[slug]/[id].tsx
  apps/frontend/src/pages/blog/index.tsx
  firebase.json
  libs/frontend-components/src/lib/BlogPostCard/BlogPostCard.tsx
  libs/frontend-components/src/lib/BlogPostCard/BlogPostInfo.tsx
  libs/frontend-components/src/lib/ThemeProvider/theme.ts
  libs/frontend-pages/src/lib/BlogOverviewPage/BlogOverviewPage.tsx
  libs/frontend-pages/src/lib/BlogPageLayout/BlogPageLayout.tsx
  libs/frontend-pages/src/lib/CatalogPage/CatalogPage.tsx
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
Labels: enhancement, feature, frontend

#51 [bugfix] updated outdated packages that were causing storybook not to…
  package.json
  pnpm-lock.yaml
Labels: bug, frontend

#52 Feature/coffee front 86
  apps/frontend/mocks/data/catalog-mock.ts
  apps/frontend/mocks/handlers/blog.ts
  apps/frontend/mocks/handlers/catalog.ts
  apps/frontend/public/imgs/plant2.svg
  apps/frontend/src/pages/catalog/index.tsx
  apps/frontend/src/pages/catalog/product/[sku].tsx
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/Catalog/CatalogFilter/CatalogFilter.tsx
  libs/frontend-components/src/lib/Catalog/CatalogFilter/style.ts
  libs/frontend-components/src/lib/Catalog/CatalogGrid/CatalogGrid.tsx
  libs/frontend-components/src/lib/Catalog/CatalogGrid/style.ts
  libs/frontend-components/src/lib/Catalog/Contracts/ProductInterface.ts
  libs/frontend-components/src/lib/Catalog/ProductCatalogItem/ProductCatalogItem.tsx
  libs/frontend-components/src/lib/Catalog/ProductCatalogItem/style.ts
  libs/frontend-components/src/lib/Catalog/ProductInfo/InfoPrice.tsx
  libs/frontend-components/src/lib/Catalog/ProductInfo/ProductInfo.tsx
  libs/frontend-components/src/lib/Catalog/ProductInfo/style.ts
  libs/frontend-components/src/lib/Catalog/index.ts
  libs/frontend-components/src/lib/CounterInput/CounterInput.tsx
  libs/frontend-components/src/lib/Footer/Footer.tsx
  libs/frontend-components/src/lib/Header/Header.tsx
  libs/frontend-components/src/lib/ProductCatalogRepresentation/ProductCatalogRepresentation.spec.tsx
  libs/frontend-components/src/lib/ProductCatalogRepresentation/ProductCatalogRepresentation.stories.tsx
  libs/frontend-components/src/lib/ProductCatalogRepresentation/ProductCatalogRepresentation.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/MobileSlideProductRepresentation.tsx
  libs/frontend-components/src/lib/SlideProductRepresentation/SlideProductRepresentation.tsx
  libs/frontend-components/src/lib/TabGroup/TabGroup.tsx
  libs/frontend-components/src/lib/WavyBackground/WavyBackground.tsx
  libs/frontend-hooks/src/index.ts
  libs/frontend-hooks/src/lib/UseProductPlansTabs/UseProductPlansTabs.ts
  libs/frontend-pages/src/lib/CatalogPage/CatalogPage.tsx
  libs/frontend-pages/src/lib/CatalogProductPage/CatalogProductPage.tsx
  libs/frontend-pages/src/lib/CatalogProductPage/style.ts
  libs/frontend-pages/src/lib/HomePage/HomePage.tsx
  libs/frontend-sections/src/lib/NewsletterSection/NewsletterSection.tsx
  libs/frontend-sections/src/lib/NewsletterSection/style.tsx
  libs/frontend-services/src/libs/Catalog/index.ts
Labels: feature, frontend

#53 Feature/coffee front 86 rc0
  apps/frontend/mocks/data/catalog-mock.ts
  libs/frontend-components/src/lib/Catalog/Contracts/ProductInterface.ts
  libs/frontend-components/src/lib/Catalog/ProductCatalogItem/ProductCatalogItem.tsx
  libs/frontend-components/src/lib/Catalog/ProductInfo/InfoPrice.tsx
  libs/frontend-components/src/lib/Catalog/ProductInfo/ProductInfo.tsx
  libs/frontend-components/src/lib/Catalog/UseProductPlansTabs/UseProductPlansTabs.ts
  libs/frontend-components/src/lib/Catalog/index.ts
  libs/frontend-components/src/lib/CounterInput/CounterInput.tsx
  libs/frontend-components/src/lib/CounterInput/UseCounter.ts
  libs/frontend-hooks/src/index.ts
  libs/frontend-pages/src/lib/CatalogProductPage/CatalogProductPage.tsx
  libs/frontend-pages/src/lib/CatalogProductPage/style.ts
Labels: bug, feature, frontend

#55 Feature/coffee frontend 108
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/Header/Header.tsx
  libs/frontend-components/src/lib/MobileMenu/MobileMenu.stories.tsx
  libs/frontend-components/src/lib/MobileMenu/MobileMenu.tsx
  libs/frontend-svg/src/index.ts
  libs/frontend-svg/src/lib/CoffeeAndFeelLogoSVG/CoffeeAndFeelLogoSVG.tsx
Labels: enhancement, feature, frontend

#56 Feature/coffee frontend 119
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/CookiesDialog/CookiesDialog.stories.tsx
  libs/frontend-components/src/lib/CookiesDialog/CookiesDialog.tsx
  libs/frontend-svg/src/index.ts
  libs/frontend-svg/src/lib/CookiesSVG/CookiesSVG.tsx
Labels: enhancement, feature, frontend

#57 feature/CF-1 - [FRONTEND] - Criar rota minha conta
  apps/frontend/src/pages/myaccount/index.tsx
  libs/frontend-components/src/index.ts
  libs/frontend-components/src/lib/Customer/Subscriptions/Subscriptions.tsx
  libs/frontend-components/src/lib/Header/Header.tsx
  libs/frontend-components/src/lib/LayoutEcommerce/LayoutEcommerce.tsx
  libs/frontend-components/src/lib/LayoutEcommerce/WrapperLayout.tsx
  libs/frontend-pages/src/index.ts
  libs/frontend-pages/src/lib/MyAccountPage/MyAccountPage.tsx
  libs/frontend-pages/src/lib/MyAccountPage/style.ts
Labels: feature, frontend

#61 Feature/cf 23 cf 24 cf 25 cf 26
  apps/frontend/public/imgs/about-us-banner.webp
  apps/frontend/src/pages/sobre-nos.tsx
  libs/frontend-pages/src/index.ts
  libs/frontend-pages/src/lib/AboutUsPage/AboutUsPage.stories.tsx
  libs/frontend-pages/src/lib/AboutUsPage/AboutUsPage.tsx
  libs/frontend-sections/src/index.ts
  libs/frontend-sections/src/lib/AboutUsHistorySection/AboutUsHistorySection.stories.tsx
  libs/frontend-sections/src/lib/AboutUsHistorySection/AboutUsHistorySection.tsx
  libs/frontend-sections/src/lib/AboutUsSlider/AboutUsSlider.stories.tsx
  libs/frontend-sections/src/lib/AboutUsSlider/AboutUsSlider.tsx
  libs/frontend-sections/src/lib/AboutUsVideoSection/AboutUsVideoPlayer.tsx
  libs/frontend-sections/src/lib/AboutUsVideoSection/AboutUsVideoSection.stories.tsx
  libs/frontend-sections/src/lib/AboutUsVideoSection/AboutUsVideoSection.tsx
  libs/frontend-sections/src/lib/SlideProductRepresentation/MobileSlideProductRepresentation.tsx
  libs/frontend-sections/src/lib/SlideProductRepresentation/SlideProductRepresentation.tsx
  libs/frontend-utility/src/lib/SwiperGenericWrapper/SwiperGenericWrapper.tsx
Labels: enhancement, feature, frontend
